<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск товаров</title>
</head>
<body>
    <h1>Поиск товаров по цене</h1>
    <form action="/lab3/results" method="get">
        <label for="min_price">Минимальная цена:</label>
        <input type="number" name="min_price" min="0" step="0.01" required><br><br>

        <label for="max_price">Максимальная цена:</label>
        <input type="number" name="max_price" min="0" step="0.01" required><br><br>

        <button type="submit">Искать</button>
    </form>
</body>
</html>
