<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Стиль Жизни {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1/lab1.css') }}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='lab2/favicon-16x16.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='lab2/favicon-32x32.png') }}">
    <style>
    </style>
    {% block script %}{% endblock%}
</head>
<body>
    <header>ООО "Стиль Жизни" {{ self.lab() }}</header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        &copy; Если люди с хорошим настроением тащат мебель, то, скорее всего, это судебные приставы.
    </footer>
</body>
</html>
