{% extends "base.html" %}

{% block lab %}  Лабораторная работа 8 {% endblock %}

{% block main %}

    {% if login %}
        <p>Ваш статус: <strong>{{ login }}</strong></p>
    {% else %}
        <p>Ваш статус: <strong>Anonymous</strong></p>
    {% endif %}
    <div style="display: flex; justify-content: center; gap: 10px;">
        <a href="/lab8/login">
            <button>Вход</button>
        </a>
        <a href="/lab8/register">
            <button>Регистрация</button>
        </a>
        <a href="/lab8/articles">
            <button>Список статей</button>
        </a>
        <a href="/lab8/create">
            <button>Создать статью</button>
        </a>
    </div>    
{% endblock %}